/*general*/
html, body {
    font-family: 'Roboto', sans-serif;
}
body {
    height: 7300px;
}
@mixin button-hover {
    opacity: 0.8;
    cursor: pointer;
    transition: .3s;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);    
}
@mixin flexbox-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

$couleurPrimaire: #9356DC;
$couleurSecondaire: #FF79DA;
$couleurTertiaire: #99E2D0;
$gradient : linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);

.flexCentre {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bold {
    font-weight: bold;
}
/*nav*/
.reserver {
    .fixIcon {
        margin-right: 18px;
    }
    background-color: rgb(247, 245, 245);
    height: 350px;
    width: auto;
    margin-top: 10px;
    .lieu {
        background-color: rgb(226, 226, 226);
        height: 55px;
        width: auto;
        display: flex;
    }
    .titreReserver {
        width: 230px;
        margin-left: 20%;
        text-align: center;
        font-weight: 900;
    }
    .titreDecouvrez {
        text-align: center;
        width: 350px;
        font-weight: 1;
        font-size: 20px;
        margin-left: 7%;
    }
    .btnExplorer {
        width: 250px;
        height: 60px;
        background: $gradient;
        margin-left: 18%;
        margin-top: 10%;
        border-radius: 35px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
        opacity: 1;
        &:hover {
            @include button-hover;
        }
    }
    .TextBtnExplorer {
        color: white;
        font-size: 18px;
        height: 60px;
    }
}
/* fonctionnement*/
.fonctionnement {
        width: 100%;
        @include flexbox-center;
        flex-direction: column;
}
.process {
    width: 95%;
    background-color: white;   
    display: flex;
    flex-direction: column ;
    margin-top: 20px;
    &__title {
        margin: 0;
    }
    &__step {
        display: flex;
        align-items: center;
        background: #f6f6f6;
        height: auto;
        width: auto;
        margin: 10px 20px;
        border-radius: 20px;
        position: relative;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.16);
        &:hover {
            @include button-hover;
            background: lighten(#f7f7f7, 3%);
        }
    }
        &__number {
                background-color: $couleurPrimaire;
                color: white;
                position: absolute;
                padding: 3px 8px 3px 8px;
                border-radius: 500px;
                transform: translateX(-50%);
            }
        &__icon {
            color: #7E7E7E;
            margin: 0 20px;
        }
    &__steps {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}
