/*general*/
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: #f6f6f6;
}

@mixin button-hover {
    opacity: 0.8;
    cursor: pointer;
    transition: .3s;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);    
}
@mixin flexbox-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;
    color: white;
}
.main {
    margin: 0;
    padding: 0;
    @include flexbox-center;
    flex-direction: column;
}

$couleurPrimaire: #9356DC;
$couleurSecondaire: #FF79DA;
$couleurTertiaire: #99E2D0;
$gradient : linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);

.flexCentre {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bold {
    font-weight: bold;
}
/*header*/
.header {
    box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.20);
    position: relative;
    @include flexbox-center();
    height: 60px;
    width: 100%;
    &__logo {
        font-family: 'Shrikhand', cursive;
        margin: 0;
        color: black;
    }
}
/*nav*/
.reserver {
    .fixIcon {
        margin-right: 18px;
    }
    background-color: rgb(247, 245, 245);
    height: 350px;
    width: auto;
    margin-top: 10px;
    .lieu {
        background-color: rgb(226, 226, 226);
        height: 55px;
        width: auto;
        @include flexbox-center();
        margin-top: -9px;
        border-top: transparent;
    }
    .titreReserver {
        width: 230px;
        margin-left: 20%;
        text-align: center;
        font-weight: 900;
    }
    .titreDecouvrez {
        text-align: center;
        width: 350px;
        font-weight: 1;
        font-size: 20px;
        margin-left: 7%;
    }
    .btnExplorer {
        width: 250px;
        height: 60px;
        background: $gradient;
        margin-left: 18%;
        margin-top: 10%;
        border-radius: 35px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
        opacity: 1;
        &:hover {
            @include button-hover;
        }
    }
    .TextBtnExplorer {
        color: white;
        font-size: 18px;
        height: 60px;
        @include flexbox-center();
    }
}
/* fonctionnement*/
.fonctionnement {
        width: 100%;
        @include flexbox-center;
        flex-direction: column;
}
.process {
    width: 95%;
    max-width: 1200px;
    background-color: white;
    padding: 0 ;   
    display: flex;
    flex-direction: column ;
    &__title {
        margin: 0;
    }
    &__step {
        display: flex;
        align-items: center;
        background: #f6f6f6;
        height: auto;
        width: auto;
        margin: 10px 20px;
        border-radius: 20px;
        position: relative;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.16);
        &:hover {
            @include button-hover;
            background: lighten(#f7f7f7, 3%);
        }
    }
        &__number {
                background-color: $couleurPrimaire;
                color: white;
                position: absolute;
                padding: 3px 8px 3px 8px;
                border-radius: 500px;
                transform: translateX(-50%);
            }
        &__icon {
            color: #7E7E7E;
            margin: 0 20px;
        }
    &__steps {
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}
.restaurants {
    margin: 0;
    background: #f6f6f6;
    padding: 20px;
    max-width: 1200px;
    @include flexbox-center;
    flex-direction: column;
    align-items: flex-start;
}
.restaurant {
    &__cartes {
        display: grid;
        grid-template-rows: repeat(4,1fr) ;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        padding: 20px;
        width: 90%;
    }
    &__carte {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        border-radius: 20px;
        transform: scale(1.0);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
        &-new {
            @include flexbox-center;
            position: absolute;
            background: #99e2d0;
            top: 20px; right: 20px;
            & p {
                color: #1b6150;
                padding: 10px 20px;
                margin: 0;
            }
        }
        &:hover {
            transition: .5s;
            transform: scale(1.02);
            box-shadow: 0px 0px 10px 2px rgba(147, 86, 220,0.6);
        }
        &-image {
            width: 100%;
            height: 190px;
            & > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 20px 20px 0 0;
            }
        }
    }
    &__block {
        background: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 90px;
        border-radius: 0 0 20px 20px;
        &-info {
            color: black;
            margin-left: 20px;
            & > :first-child {
                font-weight: 700;
            }
        }
        &-hearth {
            @include flexbox-center;
            margin-right: 20px;
            width: 30px;
        }
        .heart {
            width: 30px;
            stroke-width: 30;
            stroke: black;
            fill: white;
            cursor: pointer;
          }
          .heart-full {
          position: absolute;
          fill: url(#text-fill);
          stroke: none;
        }
        .heart-empty {
            width: 50px;
            position: relative; 
            &:hover {
              opacity: 0;
              transition: 0.5s;
            }
        }
    }
}
.footer {
    width: 100%;
    background-color: #353535;
    @include flexbox-center;
    &__bloc {
        display: inline;
        padding: 0 40px;
        width: 100%;
        max-width: 1200px;
        & .logo {
            font-family: 'Shrikhand', cursive;
            color: white;
            font-size: 20px;
            padding: 15px 0;
        }
        &-links {
            display: inline-flex;
            flex-direction: column;
            width: auto;
        }
        &-link {
            display: inline-flex;
            align-items: center;
            flex-direction: row;
            text-align: center;
            color: white;
            height: 30px;
            cursor: pointer;
            &:hover .footer__bloc-link__title {
                text-decoration: underline;
            }
            & i {
             margin-right: 7px;
            }
            &__title {
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
}