/*general*/
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: #f6f6f6;
}

a {
  text-decoration: none;
  color: white;
}

.main {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flexCentre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bold {
  font-weight: bold;
}

/*spinner*/
.spinner {
  height: 100%;
  background: white;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  animation: spinner 2s linear;
  visibility: hidden;
}
.spinner__exter {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid transparent;
  border-top: 10px solid #9356DC;
  border-bottom: 10px solid #9356DC;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: spinner-exter 2s linear;
  z-index: 10;
  visibility: hidden;
}
.spinner__center {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 8px solid transparent;
  border-right: 8px solid #9356DC;
  border-left: 8px solid #9356DC;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: spinner-center 2s linear;
  z-index: 10;
  visibility: hidden;
}

@keyframes spinner {
  0% {
    visibility: visible;
    opacity: 0.9;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes spinner-exter {
  0% {
    visibility: visible;
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes spinner-center {
  0% {
    visibility: visible;
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/*header*/
.header {
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
}
.header__logo {
  font-family: "Shrikhand", cursive;
  margin: 0;
  color: black;
}

.lieu {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f3f3;
  color: #7a7a7a;
}
.lieu__ville {
  margin-left: 13px;
  font-weight: 400;
}

.reserver {
  background: #fafafa;
  width: 100%;
}
.reserver__container {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
}
.reserver__titre {
  text-align: center;
  max-width: 250px;
  margin: 0;
}
.reserver__texte {
  text-align: center;
}
.reserver__boutton {
  opacity: 1;
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  color: white;
  padding: 0 20px;
  border-radius: 200px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
.reserver__boutton:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

/* fonctionnement*/
.fonctionnement {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.process {
  width: 95%;
  max-width: 1200px;
  background-color: white;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.process__title {
  margin: 0;
}
.process__step {
  display: flex;
  align-items: center;
  background: #f6f6f6;
  height: auto;
  width: auto;
  margin: 10px 20px;
  border-radius: 20px;
  position: relative;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
}
.process__step:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  background: #e4d5f6;
}
.process__number {
  background-color: #9356DC;
  color: white;
  position: absolute;
  padding: 3px 8px 3px 8px;
  border-radius: 500px;
  transform: translateX(-50%);
}
.process__icon {
  color: #7E7E7E;
  margin: 0 20px;
}
.process__steps {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.restaurants {
  margin: 0;
  background: #f6f6f6;
  padding: 20px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}

.restaurant__cartes {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding: 20px;
  width: 90%;
}
.restaurant__carte {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  border-radius: 20px;
  transform: scale(1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
.restaurant__carte-new {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: #99e2d0;
  top: 20px;
  right: 20px;
}
.restaurant__carte-new p {
  color: #1b6150;
  padding: 10px 20px;
  margin: 0;
}
.restaurant__carte:hover {
  transition: 0.5s;
  transform: scale(1.02);
  box-shadow: 0px 0px 10px 2px rgba(147, 86, 220, 0.6);
}
.restaurant__carte-image {
  width: 100%;
  height: 190px;
}
.restaurant__carte-image > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurant__block {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
  border-radius: 0 0 20px 20px;
}
.restaurant__block-info {
  color: black;
  margin-left: 20px;
}
.restaurant__block-info > :first-child {
  font-weight: 700;
}
.restaurant__block-hearth {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  width: 30px;
}
.restaurant__block .heart {
  width: 30px;
  stroke-width: 30;
  stroke: black;
  fill: white;
  cursor: pointer;
}
.restaurant__block .heart-full {
  position: absolute;
  fill: url(#text-fill);
  stroke: none;
}
.restaurant__block .heart-empty {
  width: 50px;
  position: relative;
}
.restaurant__block .heart-empty:hover {
  opacity: 0;
  transition: 0.5s;
}

.footer {
  width: 100%;
  background-color: #353535;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__bloc {
  display: inline;
  padding: 0 40px;
  width: 100%;
  max-width: 1200px;
}
.footer__bloc .logo {
  font-family: "Shrikhand", cursive;
  color: white;
  font-size: 20px;
  padding: 15px 0;
}
.footer__bloc-links {
  display: inline-flex;
  flex-direction: column;
  width: auto;
}
.footer__bloc-link {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
  color: white;
  height: 30px;
  cursor: pointer;
}
.footer__bloc-link:hover .footer__bloc-link__title {
  text-decoration: underline;
}
.footer__bloc-link i {
  margin-right: 7px;
}
.footer__bloc-link__title {
  font-size: 16px;
  font-weight: 400;
}

/*Respomsive*/
@media screen and (min-width: 800px) {
  .restaurant__cartes {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
  }

  .process__step {
    width: 100%;
  }

  .process__steps {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
  }

  .footer__bloc {
    margin-bottom: 15px;
  }
  .footer__bloc-links {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 900px;
  }
}

/*# sourceMappingURL=style.css.map */
